<div id='formid'>

<form method="POST" enctype="multipart/form-data"> <!-- token so that other sites cant submit this form -->
{% csrf_token %}
<p><label for="id_location">Location:</label> <input type="text" name="location" value="{{request.user.profile.location}}" maxlength="50" id="id_location"></p>
<p><label for="id_about_me">About me:</label> <textarea name="about_me" cols="40" rows="10" id="id_about_me">{{request.user.profile.about_me}}</textarea></p>

<p><label for="id_first_name">First name:</label> <input type="text" name="first_name" id="id_first_name" value="{{request.user.first_name}}"></p>
<p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" id="id_last_name" value="{{request.user.last_name}}"></p>
<p><label for="id_email">Email:</label> <input type="text" name="email" id="id_email" value="{{request.user.email}}"></p>
{%if request.user.profile.profile_image%}
<p class='imageupl'><label for="id_profile_image">Profile image:</label> <a alt='' href="{{request.user.profile.profile_image.url}}">{{request.user.profile.profile_image}} </a>
<input type="checkbox" name="profile_image-clear" id="profile_image-clear_id">
<label for="profile_image-clear_id">Remove</label></p>
<p><input type="file" name="profile_image" accept="image/*" id="id_profile_image"></p>
{%else%}
<p class='imageupl'><label for="id_profile_image">Profile image:</label> <input type="file" name="profile_image" accept="image/*" id="id_profile_image"></p>
{%endif%}
<button type="submit" style='background-color:indigo;color:white;' class="btn">
 SAVE</button>
</form>
</div>

<style>
p:not(.imageupl){
    display:flex;
    justify-content:space-between;
    }

</style>